<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cellaserv</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ pathPrefix }}/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ pathPrefix}}/static/css/dashboard.css" rel="stylesheet">

    {{template "head" .}}
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cellaserv</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item nav-link text-nowrap">
          Cellaserv
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
		<a class="nav-link active" href="{{ pathPrefix }}/overview">
                  <span data-feather="home"></span>
                  Overview
                </a>
              </li>

              <li class="nav-item">
		<a class="nav-link" href="{{ pathPrefix }}/logs">
                  <span data-feather="activity"></span>
                  Logs
                </a>
              </li>

              <li class="nav-item">
		<a class="nav-link" href="{{ pathPrefix }}/metrics">
                  <span data-feather="bar-chart"></span>
                  Metrics
                </a>
              </li>

              <li class="nav-item">
		<a class="nav-link" href="{{ pathPrefix }}/debug/pprof">
                  <span data-feather="code"></span>
                  Debug
                </a>
              </li>

              <li class="nav-item">
		<a class="nav-link" href="https://bitbucket.org/evolutek/cellaserv3">
                  <span data-feather="external-link"></span>
                  Cellaserv3 on Bitbucket
                </a>
              </li>

            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	  {{template "content" .}}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ pathPrefix }}/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ pathPrefix }}/static/js/popper.min.js"></script>
    <script src="{{ pathPrefix }}/static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="{{ pathPrefix}}/static/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
