{{define "head"}}
{{end}}

{{define "content"}}
<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Logs</h1>
</div>

{{ range $log, $content :=  . }}
<h2>{{ $log }}</h2>
<pre>
{{ $content }}
</pre>
{{end}}

{{end}}
